.header-container {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #565B6B;
}

.header-left {
  width: 331px;
  padding-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin-left: 60px;
    margin-right: 60px;
}

.header-search-and-filter {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
}

.header-search {
    width: 394px;
    background-color: #F6FAF1;
}

.header-filter {
  background-color: #F6FAF1;
}

.header-right-toolbar {
  display: flex;
  gap: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
