.edit-item-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    background-color: #f6faf1;
    height: 100vh;
  }
  
  .item-page-title-and-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .page-title {
    font-size: 30px;
    font-weight: 600;
  }
  
  .page-description {
    margin-top: 6px;
    font-size: 16px;
  }
  
  .item-name-category {
    justify-content: space-between;
    margin-top: 30px;
    gap: 70px;
    display: flex;
    flex-direction: row;
  }
  
  .edit-item-category {
    background-color: #ffffff;
  }
  
  .edit-item-price-container {
    display: flex;
    gap: 70px;
    margin-top: 40px;
  }
  
  .edit-item-price-cost {
    display: flex;
    gap: 20px;
  }
  
  .edit-item-name {
    font-size: 16;
    width: 320px;
    background-color: #ffffff;
  }
  
  .edit-item-price {
    width: 150px;
    font-size: 16;
    background-color: #ffffff;
  }
  
  .edit-item-cost {
    width: 150px;
    font-size: 16;
    background-color: #ffffff;
  }
  
  .edit-item-actions {
    float: right;
    margin-top: 70px;
  }
  