.items-page-container {
    margin-left: 331px;
    padding-left: 50px;
    padding-top: 58px;
    padding-right: 50px;
    background-color: #F6FAF1;
    height: 100vh;
}

.items-page-upper-part {
    display: flex;
    justify-content: space-between;
}

.add-new-item-button {
    height: 50px;
    width: 180px;
    background-color: #1CBE20;
    align-self: flex-end;
}

.page-title {
    font-size: 30px;
    font-weight: 600;
}

.page-description {
    margin-top: 6px;
    font-size: 16px;
}