.login-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F8F2;
    height: 100vh;
}
.input-fileds-login {
    margin-top: 40px;
    gap: 24px;
    max-width: 469px;
    display: flex;
    flex-direction: column;
}
.login-button-container {
    margin-top: 24px; 
    margin-bottom: 24px;
}
.login-button {
    width: 469px;
    background-color: #1CBE20;
    height: 60px;
}
.pasword-and-reset-container {
    display: flex;
    align-items: center;
}
.heading-login-container {
    gap: 8px;
}
.google-login-container {
    margin-top: 24px;
}
.google-login-button {
    width: 469px;
    height: 60px;
    font-size: 20px;
}