.permissions-page-container {
  margin-left: 331px;
  padding-left: 50px;
  padding-top: 58px;
  padding-right: 50px;
  background-color: #F6FAF1;
  height: 100vh;
}

.permissions-page-upper-part {
  display: flex;
  justify-content: space-between;
}

.add-new-permission-button {
  height: 50px;
  width: 180px;
  background-color: #1CBE20;
  align-self: flex-end;
}

.page-title {
  font-size: 30px;
  font-weight: 600;
}

.page-description {
  margin-top: 6px;
  font-size: 16px;
}

.permissions-container {
  margin-top: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0 rgb(0 0 0 / 5%);
}