.table-container {
    margin-top: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0 rgb(0 0 0 / 5%);
    /* padding-left: 48px; */
}

.name-container {
    display: flex;
    gap: 20px;
}

.item-name {
    font-weight: 600;
}

.item-id {
    color: #748CAB;
}

thead > tr:nth-child(2) {
    background-color: #F9F2FD;
}

thead > tr:nth-child(2) > th {
    color: #748CAB !important;
    padding-left: 48px;
}

thead > tr:first-child > th {
    padding-left: 48px;
}

.MuiTableCell-root {
    padding-left: 48px !important;
}

.action-container {
    display: flex;
    padding-right: 50px;
}

.action-container > img {
    height: 16px;
    /* margin-right: 52px; */
}

tfoot > tr:first-child {
    display: none;
}
